<div class="cartWidgetWrapper">
    <div class="cartWidget">
        <div class="groupX">
            <h2 class="cartWidgetTitle">Выбор</h2>
            <div class="notesButton">Заметки<span class="notesButtonIcon"></span></div>
        </div>
        <div class="cartItemsWrapper"></div>
        <div class="cartWidgetSummary">
            <!-- <div class="cartWidgetSubtotal">
                <h5>Всего</h5>
                <div class="cartWidgetPrice">
                    <div class="cartWidgetSubtotalValue">0000.00</div>
                    <span class="cartWidgetSubtotalCurrency">₽</span>
                </div>
            </div> -->
            <!-- <div class="cartWidgetLoyalty">
                <div class="cartWidgetLoyaltyTitle">Начислим бонусы</div>
                <div class="cartWidgetLoyaltyValue">+00</div>
            </div> -->
            <div class="divider"></div>
            
        </div>

        </div>
    </div>
</div>