<div class="cartWidgetItem">
    <img src="#" class="cartWidgetItemThubnail">
    <div class="cartWidgetItemDescription">
        <div class="cartWidgetItemLeft">
            <div class="cartBasicInfo">
                <div class="cartWidgetItemTitle">
                    Name
                </div>
                <div class="cartWidgetItemOptions"></div>
            </div>
            <div class="cartWidgetItemParameters">
                <div class="cartWidgetItemQuantity">
                    <div class="cartWidgetDecrementBtn sBtn"></div>
                    <div class="cartWidgetItemQuantityValue">
                        0
                    </div>
                    <div class="cartWidgetIncrementBtn sBtn"></div>
                </div>
                
            </div>
        </div>
        <div class="cartWidgetItemRight">
            <div class="cartWidgetItemPrice">
                <div class="cartWidgetItemPriceValue">000</div>
                <span class="cartWidgetItemCurrency">₽</span>
            </div>
        </div>
    </div>
</div>