$bg: #F9F9FB;
$bill-bg: #FFFFFF;
$bill-btn-bg: #F5EEEC;
$bill-btn-bg-hover: #4B2B1D;
$bill-btn-text: #724333;
$bill-btn-text-hover: #FFFFFF;
$bill-caption: #000000;
$bill-parameters: #A1A1A1;
$bill-divider: #D9D9D9;
$bill-options: #FFFFFF;
$bill-pay-main: #A1A1A1;
$bill-pay-accent: #724333;
$bill-pay-bg: #F5EEEC;
$bill-pay-bg-secondary: #FFFFFF;
$bill-pay-disabled: #F5EEEC;
$bill-pay-shadow: #bb8b724d;
$bill-shadow-hover: #bb8b724d;
$bill-sub-caption: #6A6A6A;
$button-bg: #724333;
$button-bg-secondary: #F5EEEC;
$button-stroke: #4B2B1D;
$button-text: #FFFFFF;
$button-icon-letter: #000;
$card-bg: #fff;
$card-caption: #000000;
$card-description: #A1A1A1;
$search: #A1A1A1;
$search-stroke: #A1A1A1;
$card-price: #000000;
$card-option-bg: #F5EEEC;
$card-option-bgSelection: #FFFFFF;
$card-option-shadowSelected: #bb8b724d;
$card-option-lvl30: #BB8B72;
$card-option-lvl50: #724333;
$card-option-lvl70: #D15866;
$card-option-stroke: #A1A1A1;
$card-option-text: #000000;
$info: #A1A1A1;
$menu-accent: #724333;
$menu-accentBorder: #4B2B1D;
$menu-inverted: #FFFFFF;
$menu-main: #A1A1A1;
$thubnail-accent: #724333;
$thubnail-bg: #FFFFFF;
$thubnail-bgSelected: #F5EEEC;
$thubnail-shadow: #bb8b7212;
$thubnail-shadowSelected: #bb8b724d;
$thubnail-stroke: #A1A1A1;
$thubnail-text: #A1A1A1;
$title: #000000;
$uBg: #FFFFFF;
$uIcon-hover: #724333;
$uShadow: #bb8b7212;
$uShadow-hover: #bb8c722d;
$uStatus: #A1A1A1;
$sidebar-bg: #fff;

:root {
    --menu-main: #{$menu-main};
    --menu-accent: #{$menu-accent};
    --menu-inverted: #{$menu-inverted};

    --paymentMethod-main: #{$bill-pay-main};
    --paymentMethod-accent: #{$bill-pay-accent};
}